.seller-project-add-container {
    position: relative;
    padding: 20px;
    background-color: #E3EEEC;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;  /* 保持顶部对齐 */
    justify-content: flex-start;  /* 保持左对齐 */
  }
  
  .ant-card {
    background-color: #E3EEEC;
    position: absolute;
    top: 40px;  /* 向上移动 */
    left: 40px;  /* 向左移动 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ant-form-item-label {
    font-weight: bold;
  }
  